<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine or request Chrome Frame -->
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<link rel="icon" href="images/favicon.png" type="image/x-icon">

		<!-- Use title if it's in the page YAML frontmatter -->
		<title><%= current_page.data.title || "Sistema de Gestão de Serviços Online" %></title>

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag "normalize", "bootstrap/css/bootstrap.min", "font-awesome/css/font-awesome.min", "stylesheet", "slider/css/slider" %>
		<%= javascript_include_tag  "jquery.min", "all", "/stylesheets/bootstrap/js/bootstrap.min", "slider/js/bootstrap-slider" %>
		<!--[if lt IE 9]>
		<%= javascript_include_tag  "dist/html5shiv.min" %>
		<![endif]-->
	</head>

	<body class="<%= page_classes %>">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<span class="sr-only">Brand</span>
						<%= image_tag 'sgs-logo.png', :width => '50', :class => 'logo-sgs' %>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#"><i class="fa fa-home"></i></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Cargo de coordenadores</a></li>
								<li class="divider"></li>
								<li><a href="#">Cargos</a></li>
								<li class="divider"></li>
								<li><a href="#">Comandos</a></li>
								<li class="divider"></li>
								<li><a href="#">Equipamentos</a></li>
								<li class="divider"></li>
								<li><a href="#">Materiais</a></li>
								<li class="divider"></li>
								<li><a href="#">Perguntas</a></li>
								<li class="divider"></li>
								<li><a href="#">Recursos humanos</a></li>
								<li class="divider"></li>
								<li><a href="#">Serviços</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimentações <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Execução de Ordem de Serviço</a></li>
								<li class="divider"></li>
								<li><a href="#">Filtros para seleção de OS</a></li>
								<li class="divider"></li>
								<li><a href="#">Programação de OS</a></li>
								<li class="divider"></li>
								<li><a href="#">Relatórios</a></li>
								<li class="divider"></li>
								<li><a href="#">Transferência de OS</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gerenciais <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Consulta de OS no mapa</a></li>
								<li class="divider"></li>
								<li><a href="#">Consulta de OS no Google Maps</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ajuda <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
								<li class="divider"></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/"><i class="fa fa-power-off"></i> Sair</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		<%= yield %>


		<footer>
			<div id="footer">
				<form class="form-inline" role="form">
					<div class="form-group">
		  			<label for="unidade-s">Unidade</label>
		  			<select class="form-control" id="unidade-s">
						  <option>GESTÃO SISTEMAS</option>
						  <option>GESTÃO RH</option>
						  <option>GESTÃO RECLAMAÇÕES</option>
						</select>
					</div>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span>Usuário: basualdo - Denilson Basualdo</span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span>Sistema: SGS</span>

					<%= image_tag 'bb-logo.png', :width => '154', :class => 'logo-bb-sistema' %>
				</form>
			</div>
		</footer>

		<script type="text/javascript">
			$('.slider').slider('horizontal');
		</script>
	</body>
</html>
