---
title: Sistema de Gestão de Serviços
---

<div class="container-fluid">
	<h1>Controle de sinal das equipes de campo</h1>

	<div class="table-bg">
		<div class="table-controls">
			<form class="form-inline" role="form">
				<div class="form-group">
					<label for="coordenador-v">Coordenador</label>
					<select class="form-control" id="coordenador-v">
						<option>Coordenador 1</option>
						<option>Coordenador 2</option>
						<option>Coordenador 3</option>
						<option>Coordenador 4</option>
						<option>Coordenador 5</option>
					</select>
				</div>

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="form-group">
					<label>Atualização (min)</label>
					<input type="text" class="slider" value="" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="2" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show">
				</div>
			</form>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						<form class="form-inline" role="form">
							<div class="form-group">
								<label>Equipe</label>
								<input type="text" value="" placeholder="procurar..." class="form-control">
							</div>
						</form>
					</th>
					<th>Últ. Sincronização</th>
					<th>Situação</th>
					<th>Bateria</th>
					<th>Mapa</th>
					<th>Programação</th>
					<th>Monitoramento</th>
					<th>Estatísticas</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-vermelho.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-vermelho.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-vermelho.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-vermelho.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-vermelho.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-vermelho.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle"></i></td>
					<td><%= image_tag 'bateria-amarelo.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
				<tr>
					<td>AP-03</td>
					<td><span class="red">d h m Off</span></td>
					<td><i class="fa fa-circle-o"></i></td>
					<td><%= image_tag 'bateria-verde.png', :width => '20', :class => 'icon-battery' %></td>
					<td><a href="#"><i class="fa fa-globe fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-list-ol fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-eye fa-lg"></i></a></td>
					<td><a href="#"><i class="fa fa-bar-chart-o fa-lg"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

</div><!-- .container-fluid -->


<!-- 01 CADASTRO DE CARGOS COORDENADORES -->
<div class="modal fade" id="cadastro_coord">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de Cargos de Coordenador</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">ID</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Nome</label>
						<input type="text" class="form-control" id="exampleInput2" placeholder="Nome do coordenador">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12"><label for="exampleInput3"><span class="red">*</span> Login Usuário</label></div>
							<div class="col-md-4"><input type="text" class="form-control" id="exampleInput3" placeholder="Código" disabled></div>
							<div class="col-md-4"><input type="text" class="form-control" placeholder="login" disabled></div>
							<div class="col-md-4"><button type="button" class="btn btn-default"><span class="fa fa-search"></span></button></div>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 01 CADASTRO DE CARGOS COORDENADORES -->

<!-- 02 CADASTRO DE CARGOS -->
<div class="modal fade" id="cadastro_cargos">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de Cargos</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-print"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">ID</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Descrição</label>
						<input type="text" class="form-control" id="exampleInput2" placeholder="Descrição do cargo">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Ativo
							</label>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 02 CADASTRO DE CARGOS -->

<!-- 03 CADASTRO DE COMANDOS -->
<div class="modal fade" id="cadastro_comandos">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de Comandos</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">Código</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Comando</label>
						<textarea class="form-control" id="exampleInput2" rows="3" placeholder="Comando SQL a ser enviado ao Tablet"></textarea>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12"><label for="exampleInput3"><span class="red">*</span> Equipamento</label></div>
							<div class="col-md-8"><input type="text" class="form-control" id="exampleInput3" disabled></div>
							<div class="col-md-4">
								<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
								<button type="button" class="btn btn-default"><span class="fa fa-remove"></span></button>
							</div>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 03 CADASTRO DE COMANDOS -->

<!-- 04 CADASTRO DE EQUIPAMENTOS -->
<div class="modal fade" id="cadastro_equipamentos">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de equipamentos</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-print"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">ID</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Código</label>
						<input type="text" class="form-control" id="exampleInput2">
					</div>
					<div class="form-group">
						<label for="exampleInput4"> Placa</label>
						<input type="text" class="form-control" id="exampleInput4">
					</div>
					<div class="form-group">
						<label for="select1"><span class="red">*</span> Tipo de equipamento</label>
						<select class="form-control" id="select1">
							<option> </option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleInput5"><span class="red">*</span> Descrição</label>
						<input type="text" class="form-control" id="exampleInput5">
					</div>
					<div class="form-group">
						<label for="exampleInput6"><span class="red">*</span> Telefone</label>
						<input type="text" class="form-control" id="exampleInput6">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12"><label for="exampleInput3"><span class="red">*</span> Login Usuário</label></div>
							<div class="col-md-4"><input type="text" class="form-control" id="exampleInput3" placeholder="Código" disabled></div>
							<div class="col-md-4"><input type="text" class="form-control" placeholder="login" disabled></div>
							<div class="col-md-4"><button type="button" class="btn btn-default"><span class="fa fa-search"></span></button></div>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 04 CADASTRO DE EQUIPAMENTOS -->

<!-- 05 CADASTRO DE MATERIAL -->
<div class="modal fade" id="cadastro_materiais">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de materiais</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-print"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">ID</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput12"><span class="red">*</span> Descrição</label>
						<input type="text" class="form-control" id="exampleInput12">
					</div>
					<div class="form-group">
						<label for="exampleInput2">Código</label>
						<input type="text" class="form-control" id="exampleInput2">
					</div>
					<div class="form-group">
						<label for="select1"><span class="red">*</span> Unidade de medida</label>
						<select class="form-control" id="select1">
							<option> </option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleInput5"><span class="red">*</span> Valor</label>
						<input type="text" class="form-control" id="exampleInput5">
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 05 CADASTRO DE MATERIAL -->

<!-- 06 CADASTRO DE PERGUNTA -->
<div class="modal fade" id="cadastro_perguntas">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de Pergunta</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-print"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">Código</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Descrição</label>
						<input type="text" class="form-control" id="exampleInput2">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Ativo?
							</label>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 06 CADASTRO DE PERGUNTA -->

<!-- 07 CADASTRO DE RH -->
<div class="modal fade" id="cadastro_rh">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de Cargos de Coordenador</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-print"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">ID</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Nome</label>
						<input type="text" class="form-control" id="exampleInput2" placeholder="Nome do coordenador">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12"><label for="exampleInput3"><span class="red">*</span> Cargo</label></div>
							<div class="col-md-4"><input type="text" class="form-control" id="exampleInput3"></div>
							<div class="col-md-5"><input type="text" class="form-control"></div>
							<div class="col-md-3">
								<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
								<button type="button" class="btn btn-default"><span class="fa fa-remove"></span></button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Valor</label>
						<input type="text" class="form-control" id="exampleInput2">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Ativo?
							</label>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 07 CADASTRO DE RH -->

<!-- 08 CADASTRO DE SERVIÇOS -->
<div class="modal fade bs-example-modal-lg" id="cadastro_servicos" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Cadastro de serviço</h4>
			</div>
			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><span class="fa fa-plus-circle"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-save"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-trash"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-print"></span></button>
					<button type="button" class="btn btn-default"><span class="fa fa-external-link"></span></button>
				</div>

				<br><br>

				<form role="form">
					<div class="form-group">
						<label for="exampleInput1">ID</label>
						<input type="text" class="form-control" id="exampleInput1" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Nome</label>
						<input type="text" class="form-control" id="exampleInput2" placeholder="Nome do coordenador">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12"><label for="exampleInput3"><span class="red">*</span> Cargo</label></div>
							<div class="col-md-4"><input type="text" class="form-control" id="exampleInput3"></div>
							<div class="col-md-5"><input type="text" class="form-control"></div>
							<div class="col-md-3">
								<button type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
								<button type="button" class="btn btn-default"><span class="fa fa-remove"></span></button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInput2"><span class="red">*</span> Valor</label>
						<input type="text" class="form-control" id="exampleInput2">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Ativo?
							</label>
						</div>
					</div>
				</form>
				<span class="red">* campos com preenchimento obrigatório</span>
			</div>
			<!-- /END MODAL CONTENT -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /END 08 CADASTRO DE SERVIÇOS -->








